<input type="text" [(ngModel)]="title" />
{{ title }}

<input type="text" [(ngModel)]="power" />
{{ power | exponential }}

<!-- <div *ngIf="title === 'jona'">Esto es jona</div>
<div *ngIf="title === 'Mika'">Esto es Mika</div> -->

<div [ngSwitch]="title">
  <p *ngSwitchCase="'jona'">Este es jona</p>
  <p *ngSwitchCase="'mika'">Este es mika</p>
  <p *ngSwitchCase="'kevin'">Este es kevin</p>
  <p *ngSwitchDefault>Este es el por defecto</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="heroes.length === 0">La lista esta vacia</li>
  <li *ngFor="let item of heroes; index as i">
    {{ item.id }} - {{ item.name }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>
